.box {
  display: inline-block;
  background-color: darkolivegreen;
  color: aliceblue;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity var(--anim);
}
.box:hover {
  opacity: .9;
}
