.box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.item {
  width: 150px;
  margin-right: var(--gatter);
  margin-bottom: var(--gatter);
}
.name {
  font-weight: 500;
}
.name span {
  font-weight: 400;
  font-style: italic;
  display: block;
}
