.box {
  display: flex;
}
.view {
  width: 33%;
  min-width: 33%;
  margin-right: var(--gatter);
}
.desc {
  font-size: 18px;
}
.details {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--gatter);
  display: flex;
}
.details li:first-child {
  margin-right: var(--gatter);
}
.dataList li:not(:last-child) {
  margin-bottom: 8px;
}
