.box {
  width: calc((100% - 2 * var(--gatter)) / 3);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  margin-bottom: var(--gatter);
  transition: transform var(--anim);
  text-decoration: none;
  color: var(--dark);
  display: flex;
  flex-direction: column;
}

.box:hover {
  transform: scale(1.02, 1.02);
}

.box:not(:nth-child(3n + 3)) {
  margin-right: var(--gatter);
}

.poster {
  flex-grow: 1;
}

.poster img {
  object-fit: cover;
  height: 100%;
}

.info {
  padding: 32px 16px 16px;
  position: relative;
}

.title {
  margin: 0;
}

.rating {
  position: absolute;
  background-color: #fff;
  width: 40px;
  height: 40px;
  left: 20px;
  top: -20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--red);
  font-weight: 500;
}
