:root {
  /* Colors */
  --gray: #888;
  --dark: #313131;
  --red: tomato;

  /* Other */
  --gatter: 20px;
  --anim: 300ms ease-in-out;
}

@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.main {
  padding-bottom: var(--gatter);
}

.listMovies {
  display: flex;
  flex-wrap: wrap;
}
